<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
        <property name='connection.driver_class'>com.mysql.jdbc.Driver</property>
        <property name='connection.url'>jdbc:mysql://localhost:3306/swabhimaan</property>
        <property name='connection.username'>root</property>
        <property name='connection.password'></property>
        <property name='connection.pool_size'>1</property>
        <property name='dialect'>org.hibernate.dialect.MySQLDialect</property>
        <property name='show_sql'>true</property>
		<property name="hibernate.current_session_context_class">thread</property>
       	   <property name="show_sql">true</property>
       	   <mapping class="com.mcet.data.entities.CallRequest"/>   
       	   <mapping class="com.mcet.data.entities.CaseItem"/> 
       	   <mapping class="com.mcet.data.entities.ContinuosAssesment"/> 
       	   <mapping class="com.mcet.data.entities.EvaluationCriteria"/> 
       	   <mapping class="com.mcet.data.entities.Illness"/> 
       	   <mapping class="com.mcet.data.entities.Patient"/> 
       	   <mapping class="com.mcet.data.entities.PatientRel"/> 
       	   <mapping class="com.mcet.data.entities.TreatmentAssessment"/> 
       	   <mapping class="com.mcet.data.entities.TreatmentPlan"/>   
       	   <mapping class="com.mcet.data.entities.CPMA"/>   	   
    </session-factory>
</hibernate-configuration>
